body {
  padding-top: 60px;
}

.container {
  width: auto;
  max-width: 1280px;
}

.article, .comment {
  padding: 15px 0;
  border-top: 1px solid #e8e8e8;
}


.error {
  color: #FF2602;
}

.form-actions {
  background: #fff;
  border: 0;
}

/* Property css */
table.property tr td.operator{
  text-align: right;
}

table.property tr td.operator a{
  margin-right: 5px;
}

table.property tr td.operator a:hover{
  color: red;
  text-decoration: none;
}

table.property tr td form{
  margin: 0 0;
}